.around-form {
  width: 50%;
  margin: auto;
}

.order-sandwich {
  width: 400px;
}

.wants-sandwich {
  width:400px;
  margin-top: 20px;
}

.remark-div {
  margin-top: 20px;
}

h3 {
  font-weight: 400;
  font-family: Roboto;
  margin-top: 20px;
}
