<div class="around-form">
<form *ngIf="nameForm" [formGroup]="nameForm" (ngSubmit)="submitName()">
<mat-form-field appearance="fill" class="order-sandwich" hideRequiredMarker="true">
    <mat-label>Enter your name</mat-label>
    <input matInput placeholder="Sjakie Schildpad" formControlName="name" >
    <mat-error >Your name is required!</mat-error>
  </mat-form-field>
  <button *ngIf="nameUnfilled" mat-raised-button color="primary" (click)="submitName()">Continue!</button>
</form>
  <div *ngIf="!nameUnfilled" class="wants-sandwich">
    <mat-label>Do you want a sandwich today? </mat-label>
    <button mat-raised-button color="primary" (click)="wantsSandwichHandle(true)" [disabled]="!wantsSandwichUnfilled">Yes</button><button mat-raised-button color="warn" (click)="wantsSandwichHandle(false)" [disabled]="!wantsSandwichUnfilled">No</button>
  </div>
<div *ngIf="timeForRemark" class="remark-div">
  <form *ngIf="remarkForm" [formGroup]="remarkForm" (ngSubmit)="submitRemark()">
    <mat-form-field appearance="fill" class="order-sandwich" hideRequiredMarker="true">
      <mat-label>Do you have a remark?</mat-label>
      <input matInput placeholder="Extra mayonaise for me please!" formControlName="remark" >
    </mat-form-field>
    <button *ngIf="remarkUnfilled" mat-raised-button color="primary" (click)="submitRemark()">Continue!</button>
  </form>
</div>
  <div *ngIf="readyToSubmit" class="remark-div">
    <button mat-raised-button color="primary" (click)="submitOrder()">Order!</button>
  </div>
</div>
